.window-header {
  padding: 14px 20px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-header-title {
  max-width: calc(100% - 100px);
  overflow: hidden;

  .window-header-main-title {
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 50vw;
  }

  .window-header-sub-title {
    font-size: 14px;
    margin-top: 5px;
  }
}

.window-actions {
  display: inline-flex;
}

.window-action-button {
  margin-left: 10px;
}

.custom-action-button {
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 4px;
  padding: 5px 0;
  width: 53px;
  height: 53px;
  border: 1px solid #DEDEDE;
  background-color: var(--white);
  &:active{
    opacity: .5;
  }
  .custom-action-button-wrap{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .custom-action-button-txt{
    line-height: 14px;
    font-size: 10px;
    color: #000;
  }
}
